SEPOLIA_RPC_URL_1=https://ethereum-sepolia-rpc.publicnode.com
SEPOLIA_RPC_URL_2=https://0xrpc.io/sep
MAINNET_RPC_URL_1=https://eth.llamarpc.com
MAINNET_RPC_URL_2=https://rpc.ankr.com/eth
ARBITRUM_RPC_URL_1=https://arbitrum.drpc.org
ARBITRUM_RPC_URL_2=https://arbitrum-one-rpc.publicnode.com
# Optional if you want to enable private swaps
ZEROX_API_KEY=<YOUR_ZEROX_API_KEY>
